<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fruit.name %></title> <!-- dynamically display the fruit name in the title -->
</head>
<body>
    <a href="/fruits">Back to fruits!</a>
    <h1><%= fruit.name %></h1>
    <!-- add some conditional rendering based on the fruits readiness to eat-->
    <% if (fruit.isReadyToEat) { %>
      <p>This fruit is ready to eat!</p>
    <% } else { %>
      <p>This fruit is not ready to eat.</p>
    <% } %>
    <form action="/fruits/<%= fruit.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= fruit.name %></button>
    </form>
    <!-- Edit Fruit -->
    <a href="/fruits/<%= fruit.id %>/edit"> Edit </a>
</body>
</html>
